header{
    background-color: #2874F0;
    padding: 20px ;
}
header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .img{
    width: 150px;
}
header .img img{
    width: 100%;
}
input[type="text"]{
    border-radius: 5px;
    border: none !important;
    width: 300px;
    padding: 5px !important;
    margin-right: 18px !important;
}
input[type="button"]{
    padding: 3px 25px !important;
    background-color: white !important;
    color: #2874F0 !important;
    border: none !important;
    font-size: 18px;
    font-weight: 500;
}
header .carting a{
    font-size: 25px;
    color: white;
}